div.auth-attention.banner
  h4(l10n) Welcome to iCloud Client! Your account needs to be activated. You can activate it in 2 ways:
  ul
    li(l10n) Have another user send ICC to your iCloud name (~{{userCredentials.username}}).&#32
    li(l10n) 
      a(href="https://isuncoins.com/buyicc") Buy ICC.

  h4(l10n) You must reserve 20 ICC at least and only transfer ICC. If you want use other currenceis, at least 100 ICC 
